meta(charset='utf-8')
meta(name="format-detection" content="telephone=no")
meta(name="description" content="Description")
meta(name="keywords" content="Keywords")
title Cropper
link(href='bower_components/cropper/dist/cropper.css' rel='stylesheet')
link(href='styles/states/bootstrap.min.css' rel='stylesheet')
link(href='styles/application.css' rel='stylesheet')
