script(src='bower_components/lodash/lodash.min.js' defer)
script(src='bower_components/jquery/dist/jquery.min.js' defer)
script(src='bower_components/angular/angular.min.js' defer)
script(src='bower_components/cropper/dist/cropper.js' defer)
script(src='bower_components/ng-cropper/ngCropper.js' defer)
script(src='scripts/cropper.js' defer)
